<div #modalEmpleadoEvaluarNuevo class="modal fade" tabIndex="-1" *teleportTo="'body'">
    <div class="modal-dialog  modal-dialog-centered modal-xl " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista de Empleados </h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                </button>
            </div>
            <div class="modal-body">
                <app-loading [mostrar]="loading">
                    <div class="card-body">
                        <div class="col-xl-12">
                          <div class="row"> 
                            @if( selectedIds.length==0){
                            <div class="col-6 my-2">
                               <button type="button" class="btn btn-sm btn-primary w-25" (click)="agregarEmpleadoEval('TODOS')"> <i class="fa-solid fa-check mx-2"></i> Procesar todos</button>
                            </div>
                            }@else {
                            <div class="col-6 my-2">
                               <button type="button" class="btn btn-sm btn-primary w-25" (click)="agregarEmpleadoEval('INDIVIDUAL')"> <i class="fa-solid fa-check mx-2"></i> Procesar seleccion</button>
                            </div>   
                            }
                         
                        </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 40px; width: 40px">Acciones</th>
                                            <th class="text-center" style="min-width: 200px; width: 200px">Apellidos</th>
                                            <th class="text-center" style="min-width: 200px; width: 200px">Nombres</th>
                                            <th style="min-width: 100px; width: 100px">Categoria</th>
                                            <th style="min-width: 200; width: 200px">Servicio</th>
                                            <th style="min-width: 200px; width: 200px">Cargo</th>
                                        </tr>
                                        <tr> 
                                            <td class="d-flex">
                                           
                                                   <button type="button" (click)="limpiarCampos()"
                                                    class="btn btn-sm btn-danger "
                                                    title="Limpiar selección">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                            <td> 
                                                <input type="text" [(ngModel)]="filtros.apellidos"
                                                    inputmode="text"
                                                    (keydown.enter)="filtrarEmpleado()"
                                                    class="form-control form-control-sm text-uppercase">
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="filtros.nombre"
                                                    inputmode="text"
                                                    (keydown.enter)="filtrarEmpleado()"
                                                    class="form-control form-control-sm text-uppercase">
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="filtros.categoria"
                                                    inputmode="text"
                                                    (keydown.enter)="filtrarEmpleado()"
                                                    class="form-control form-control-sm text-uppercase">
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="filtros.servicio"
                                                    inputmode="text"
                                                    (keydown.enter)="filtrarEmpleado()"
                                                    class="form-control form-control-sm text-uppercase">
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="filtros.cargo"
                                                    inputmode="text"
                                                    (keydown.enter)="filtrarEmpleado()"
                                                    class="form-control form-control-sm text-uppercase">
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (loading) {
                                            <tr>
                                                <td colspan="9" class="text-center py-3">Cargando lista...</td>
                                            </tr>
                                        } @else {
                                            @for (item of data; track item.id;let i=$index) {
                                                <tr>
                                                    <td>
                                                    <button class="btn btn-sm p-0" 
                                                            (click)="toggleSelection(item.id)"
                                                            [class.btn-success]="isSelected(item.id)"
                                                            [class.btn-light]="!isSelected(item.id)">
                                                       <i class="fa-solid fa-check"></i>
                                                    </button>
                                                    </td> 
                                                    <td>{{ item.apellidos }}</td>
                                                    <td>{{ item.nombre }}</td>
                                                    <td>{{ item.categoria }}</td>
                                                    <td>{{ item.servicio }}</td>
                                                    <td>{{ item.cargo }}</td>
                                                </tr>
                                            } @empty {
                                                <tr class="text-center">
                                                    <td colspan="9">No hay items que mostrar</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>         
                    </div>
                    <app-paginado [datos]="data" [(longitud)]="longitud" [pagina]="pagina"
                        (cambioVer)=" listarEmpleadosNuevos()"
                        [ver]="true" (cambioPagina)="cambioPagina($event)">
                    </app-paginado>              
                </app-loading>
            </div>
        </div>
    </div>
</div>

